* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.1em;
  table-layout: fixed;
  /*margin: 0 auto;*/
}
#wrapper {
  padding: 10px;
  border: 1px solid black;
  width: 28%;
  margin: 0 auto;
  margin-top: 10%;
}

th, tr:nth-child(n+1):nth-child(-n+16) td{
  padding: 5px;
}

th:first-child {
  font-size: 2em;
  font-weight: bold;
}
tr:nth-child(2), tr:nth-child(14) {
  border-bottom: 10px solid black;
}
.bold {
  font-weight: bold;
}

tr:nth-child(n+3):nth-child(-n+6), tr:nth-child(n+8):nth-child(-n+13), tr:nth-child(n+15):nth-child(-n+16), tr:nth-child(18), tr:nth-child(24){
  border-bottom: 1px solid black;
}

tr:nth-child(5) {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
}

tr:nth-child(6) td:nth-child(2),tr:nth-child(7) td:nth-child(2), tr:nth-child(4) td:nth-child(2), tr:nth-child(n+9):nth-child(-n+12) td:nth-child(2){
  text-align: right;
}


tr:nth-child(7), tr:nth-child(8), tr:nth-child(12), tr:nth-child(13), tr:nth-child(24) td:first-child, tr:nth-child(20) td:first-child {
  text-indent: 20px;
}
tr:nth-child(7) td:nth-child(1), tr:nth-child(8) td:nth-child(1) {
  /*width: 40px;*/
}
tr:nth-child(7) td:nth-child(2), tr:nth-child(7) td:nth-child(3), tr:nth-child(8) td:nth-child(2) {
  border-bottom: 1px solid black;
}
tr:nth-child(n+17):nth-child(-n+24) {
  font-size: 14px;
}

p:last-child {
  text-align: center;
}

p {
  margin-top: 5px;
  font-size: 14px;
}
